<div class="w3-animate-opacity" style="margin-top: 10%;">
<center>
	<i class="fa fa-check-circle fa-5x" style="color:green; size:40px;" ></i>
	<h4><strong>Order Berhasil Ditambahkan</strong></h4>
	<h4>Konfirmasi pesanan akan dilakukan lewat pesan Whatsapp</h4>
	<br>
	<%= link_to("Kembali ke Halaman Utama", root_path, class:"btn btn-success") %>
</center>
</div>