<p>
  <strong>Product Name:</strong>
  <%= @scheduled_product.product.name %>
</p>

<%= link_to 'Edit', edit_scheduled_product_path(@scheduled_product) %> |
<%= link_to 'Back', scheduled_products_path %>
